*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
logs/
pids/
*.log
cmd_server
test/
/data
logs/*
.env
node_moduls
api/proto-gen-go
api/protoc-gen-go
api/proto
api/swagger
api-gateway/pb
build
node_modules
shared/docker-compose/kafka-mongo-cdc
shared/docker-compose/data
shared/docker-compose/conf/keyfile
*.wt
realxx-service/reports/pprof
img
.history
.gocache
小说
bin/*
.task